.idea/
.mypy_cache/
.pytest_cache/
__pycache__/
.ipynb_checkpoints/

wm_env
_test.py

wandb
login.sh
setup.sh

fid_outputs
images

_temp

sd2_decoder.pth

*.png

*.csv
*.pt

*.DS_Store

scripts_old

*.ckpt
*.yaml

finetune_ldm_decoder

*_images


fid_eval_*
val_mock

*_logs