-e .
-e ./WatermarkAttacker

torch==2.1.2
torchvision==0.16.2
transformers==4.31.0
diffusers==0.14.0
accelerate==0.26.1
xformers==0.0.23.post1

# Stable-Signature dependencies:
einops==0.3.0
open_clip_torch==2.0.2
torchmetrics==1.3.0.post0
augly==1.0.0
pytorch-fid==0.3.0
pytorch-lightning==2.1.3

# WM-Attacker dependencies:
wandb
datasets
ftfy
omegaconf
opencv-python
scikit-image
bm3d
compressai
torch_fidelity
onnxruntime

# Development:
black
isort
invisible-watermark